body {
    margin: 0;
    padding: 10px;
    box-sizing: border-line;
}

header {
    background: url(apple-bg.jpg);
    background-size: cover;
    background-position: left;
}

.noting {
    display: none;
}